nav {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 240px;
    border-right: 1px solid #eee;
}
nav .button {
    overflow: hidden;
    position: relative;
    padding: 14px 19px 0 20px;
    background-color: #fff;
}
nav .button .btn {
    overflow: hidden;
    float: left;
    position: relative;
    width: 100px;
    height: 38px;
    padding-top: 3px;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    font-size: 15px;
    background-color: #fee500;
    font-weight: 500;
}
nav .button .btn_write {
    width: 98px;
    border-left: 1px solid rgba(0,0,0,.02);
    border-right: 0;
    border-radius: 4px 0 0 4px;
}
nav .button .btn_my {
    margin-left: 2px;
    background-color: #ecedf1;
    cursor: default;
}
nav .icons {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 17px 20px 12px;
    border-bottom: 1px solid rgba(237,237,237,0.8);
    background-color: #fff;
    box-sizing: border-box;
}
nav .icons .icon {
    position: relative;
    display: table-cell;
    width: 37px;
    text-align: center;
    color: #414141;
    vertical-align: top;
}
nav .icons .icon .img {
    display: block;
    overflow: hidden;
    background-image: url(//t1.kakaocdn.net/kakaomail_static/mint/img/svc/p320/img_mail_200427.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    -webkit-background-size: 400px 500px;
    background-size: 400px 500px;
    width: 18px;
    height: 18px;
    margin: 0 auto 4px;
}
nav .icons .icon .img.interest {
    background-position: -140px -310px;
}
nav .icons .icon .img.read {
    background-position: -160px -310px;
}
nav .icons .icon .img.important {
    background-position: -140px -350px;
}
nav .icons .icon .img.file {
    background-position: -160px -350px;
}
nav .icons .icon .txt_util {
    display: inline-block;
    font-size: 11px;
    letter-spacing: -0.37px;
    vertical-align: top;
}
nav .navs {
    margin: 3px 21px 0 19px;
    padding: 14px 0 0;
    border-top: 0 none;
    margin-top: 0;
}
nav .navs .nav {
    overflow: hidden;
    position: relative;
    height: 21px;
    padding-bottom: 8px;
    line-height: 21px;
    cursor: pointer;
}
nav .navs .nav i {
    display: block;
    overflow: hidden;
    background-size: 400px 500px;
    float: left;
    margin-right: 7px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    vertical-align: top;
    text-align: center;
}
nav .navs .nav .link {
    display: initial;
    bottom: 0;
}
nav .navs .nav .link.on {
    font-weight: bold;
    border-bottom: 4px solid #fee500;
}
nav .navs .nav .link.active {
    font-weight: bold;
    border-bottom: 4px solid #fee500;
}
nav .navs .subtitle {
    color: #b2b2b2;
}